services:
  mbtileserver:
    image: ghcr.io/consbio/mbtileserver:latest
    container_name: mbtileserver
    ports:
      - "8899:8000"
    volumes:
      # On monte le dossier contenant le fichier .mbtiles dans le dossier /tiles du conteneur
      - /docker/appdata/mbtileserver/mbtiles:/tilesets:ro

  fonts-server:
    image: nginx:latest
    container_name: fonts-server
    ports:
      - "8898:80"
    volumes:
      - /docker/appdata/mbtileserver/fonts:/usr/share/nginx/html/fonts:ro
      - /docker/appdata/mbtileserver/pmtiles:/usr/share/nginx/html/pmtiles:ro
      - /docker/appdata/mbtileserver/nginx-map-assets.conf:/etc/nginx/conf.d/default.conf:ro

  tileserver-gl:
    image: maptiler/tileserver-gl
    container_name: tileserver-gl
    ports:
      - "8897:8080"
    volumes:
      # On monte le dossier contenant le .mbtiles
      - /docker/appdata/mbtileserver/mbtiles:/data:ro
    command: maptiler-osm-2020-02-10-v3.11-planet.mbtiles