services:
  mbtileserver:
    image: ghcr.io/consbio/mbtileserver:latest
    container_name: mbtileserver
    ports:
      - "8899:8000"
    volumes:
      # On monte le dossier contenant le fichier .mbtiles dans le dossier /tiles du conteneur
      - /docker/appdata/tileserver/mbtiles:/tilesets:ro
    networks:
      - tileserver

  nginx-map-assets:
    image: nginx:latest
    container_name: nginx-map-assets
    ports:
      - "8898:80"
    volumes:
      - /docker/appdata/tileserver/fonts:/usr/share/nginx/html/fonts:ro
      - /docker/appdata/tileserver/pmtiles:/usr/share/nginx/html/pmtiles:ro
      - /docker/appdata/tileserver/examples:/usr/share/nginx/html/examples:ro
      - /docker/appdata/tileserver/nginx/nginx-map-assets.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - tileserver

  tileserver-gl:
    image: maptiler/tileserver-gl
    container_name: tileserver-gl
    ports:
      - "8897:8080"
    volumes:
      # On monte le dossier contenant le .mbtiles
      - /docker/appdata/tileserver/mbtiles:/data/mbtiles:ro
      - /docker/appdata/tileserver/tileserver-gl/config.json:/data/config.json:ro
      - /docker/appdata/tileserver/tileserver-gl/styles:/data/styles:ro
      - /docker/appdata/tileserver/fonts:/data/fonts:ro
    command: -c /data/config.json
    networks:
      - tileserver

  graphhopper:
    image: graphhopper/graphhopper:latest
    container_name: graphhopper
    ports:
      - "8989:8989"
    volumes:
      - /docker/appdata/tileserver/graphhoper/data:/data
    environment:
      - JAVA_OPTS=-Xmx2g -Xms2g
    command: ["/data/ile-de-france-latest.osm.pbf"]
    networks:
      - tileserver

  photon:
    image: rtuszik/photon-docker:latest
    container_name: photon
    ports:
      - "2322:2322"
    volumes:
      - /docker/appdata/tileserver/photon/data:/data
    environment:
      - REGION=france
      - MEMORY=8g
    networks:
      - tileserver

networks:
  tileserver:
    name: tileserver
    ipam:
      driver: default
      config:
        - subnet: 172.41.0.0/24
          ip_range: 172.41.0.0/24
          gateway: 172.41.0.1